body {
    background: #800080;
    color: #0000ff;
}

/* Header */
header {
    height: 250px;
    width: 100%;
    display: flex;
}

    #logo {
        height: 200px;
        width: 200px;
        padding: 25px;
    }

    #nameBox {
        padding: 25px 25px 25px 150px;
    }

        .companyName {
            font-size: 300%;
            padding: 5px;
            margin: 0;
        }

        #nameText2 {
            padding-left: 100px;
        }

        #nameText3 {
            padding-left: 200px;
        }

    /* Nav */
nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 250px;
    z-index: 3;
}
    nav>a {
        text-decoration: none;
        padding: 10px;
        background: #fff;
        border-radius: 50%;
    }

/* Main */
main {
    width: 100%;
    text-align: center;
}

    .highlight {
        display: flex;
        width: 100%;
        padding: 25px;
    }

    .highlight>img {
        width: 100%;
        height: auto;
    }

    .highlightText {
        text-align: center;
        padding: 25px;
        max-width: 250px;
    }

    h1,
    p,
    h4,
    figcaption{
        margin: 25px;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 25px;
    }

    input {
        border-radius: 75%;
        margin: 0 25px;
    }

    figure {
        padding: 50px;
    }

    img {
        border: #000 2px solid;
        margin: 25px;
    }

footer {
}

@media only screen and (max-width: 700px) {
    .highlight {
        display: block;
    }
}